@charset "UTF-8";
@font-face {
  font-family: "serenity";
  src: url(/fonts/Simple-Serenity-Serif.ttf);
  font-weight: bold;
  font-style: bold;
}
.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*GENERAL*/
body {
  margin: 0;
  padding: 0;
  background-color: #ffeddf;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  background: linear-gradient(to left, #ffa9f9, #fff7ad);
  background-repeat: no-repeat;
  background-attachment: fixed;
  line-height: 145px;
  width: 100%;
}

.productos-index img {
  width: 150px;
}

#marca {
  text-align: center;
  font-family: "serenity";
  font-size: 5.5rem;
  margin: 0;
  padding: 30px;
  position: absolute;
  top: 17px;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  justify-content: center;
}

.pagina-h1-resenia-carrito, .h1-productos, .pagina-h1-contacto {
  display: block;
  justify-content: center;
  text-align: center;
  font-family: "serenity";
  font-size: 5.5rem;
  margin: 0;
  padding: 30px;
  position: absolute;
  top: -8px;
  left: 15px;
  right: 0;
  bottom: 0;
}

.pagina-h1-contacto {
  top: -8px;
  left: 24px;
}

.menu-index {
  font-family: "Faculty Glyphic";
  font-size: 25px;
  color: black;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  padding: 0;
  position: relative;
  top: 77px;
  left: 0;
  right: 0;
  bottom: 0;
  gap: 25px;
}

.boton-menu {
  list-style: none;
}
.boton-menu a {
  display: inline-block;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}
.boton-menu a:hover {
  transform: scale(1.05);
  color: white;
  border-radius: 0.5rem;
}

.link {
  text-decoration: none;
  color: black;
}

h5, h4 {
  font-family: "Faculty Glyphic";
  font-size: 66px;
  margin: 0;
  padding: 0;
  color: #8b61c2;
  text-align: center;
}

.productos-index {
  display: flex;
  justify-content: center;
  margin-block: 20px;
  margin: 30px;
  justify-items: center;
  text-align: center;
}

.section-nosotras {
  max-height: 525px;
}

h3 {
  font-family: "Faculty Glyphic";
  font-size: 30px;
  margin: 30px;
  padding: 0;
  color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.texto, .texto-dueñas {
  animation: fadeIn 2s ease-in;
  max-width: 715px;
  margin: 40px auto;
  padding: 20px;
  background: linear-gradient(135deg, #ffe6f0, #f9f0ff);
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  animation: fadeSlideIn 2s ease forwards;
  opacity: 0;
  transform: translateY(30px);
  font-family: "Faculty Glyphic";
  font-size: 21px;
  color: #5a2a6c;
  line-height: 1.6;
  text-align: center;
  position: relative;
  top: -24rem;
  left: -14rem;
  right: 0;
  bottom: 0;
}

.texto-dueñas {
  top: 0;
  left: 13rem;
  right: 0;
  bottom: -1rem;
  width: 46rem;
}

.div-video {
  display: flex;
  justify-content: center;
  position: relative;
  top: 2rem;
  left: 24rem;
  right: 0;
  bottom: -3rem;
}

.video {
  border-radius: 1rem;
  border-style: hidden;
}

.section-1-index {
  max-height: 34rem;
}

footer {
  background-color: #8b0639;
  color: white;
  font-family: "Faculty Glyphic";
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 15px;
}

.div-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  padding: 0;
  gap: 3rem;
  top: 0.5rem;
  left: 0;
  right: 0;
  bottom: 0;
}

.botones-footer:hover {
  background-color: black;
  border-radius: 0.5rem;
  cursor: grab;
}

.link-footer {
  color: white;
  text-decoration: none;
  gap: 1rem;
}

button {
  color: black;
  background-color: #f59db1;
  height: 3rem;
  width: 6rem;
}
button:hover {
  background-color: black;
  color: #f59db1;
}

.sombra-imagenes, .imagen-producto-carrito, .sombra-imagenes-productos {
  border-radius: 1rem;
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.4);
}

.boton-ver-mas, .boton-comprar, .boton-eliminar, .input-cantidad-carrito, .precio-carrito, .boton-enviar, .input-cantidad, .boton-productos {
  position: relative;
  top: -9rem;
  left: 0;
  right: 0;
  bottom: 0;
  color: #8b0066;
  border-radius: 50% 20%/10% 40%;
  border-radius: 15px;
  border: 2px solid #f7a0b4;
  cursor: grab;
  background-color: #fff0f6;
  box-shadow: 2px 2px 8px rgba(139, 0, 102, 0.2);
  transition: transform 0.3s ease;
  text-align: center;
  font-family: "Faculty Glyphic";
  font-size: 16px;
  margin: 2px 2px 2px 2px;
  padding: 10px 20px;
  display: inline-block;
}
.boton-ver-mas:hover, .boton-comprar:hover, .boton-eliminar:hover, .input-cantidad-carrito:hover, .precio-carrito:hover, .boton-enviar:hover, .input-cantidad:hover, .boton-productos:hover {
  transform: scale(1.05);
}

.dueñas {
  display: flex;
  justify-content: start;
  width: 269px;
  margin-left: 55px;
  position: relative;
  top: -12rem;
  left: 0;
  right: 0;
  bottom: 176px;
  border-radius: 2rem;
}

.boton-productos {
  top: -1.1rem;
  font-size: 12px;
}
.boton-productos:hover {
  transform: scale(1.05);
}

/*INDEX*/
.h1-productos {
  max-height: 30rem;
  left: 39px;
  top: -1rem;
}

.sombra-imagenes-productos {
  display: flex;
  gap: 3rem;
}

.productos-productos {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-block: 20px;
  margin: 30px;
  gap: 3rem;
  max-height: 32rem;
  animation: fadeIn 1.3s ease-in;
}
.productos-productos a img {
  cursor: zoom-in;
}

.agregar-carrito {
  position: relative;
  top: -50px;
  left: 0;
  right: 0;
  bottom: -2rem;
}

.input-cantidad {
  display: block; /* Asegura salto de línea */
  margin-top: 89px;
  margin-left: 17px;
  border-radius: 12px;
  width: 70px;
}
.input-cantidad:hover {
  transform: scale(1.05);
}

.precio, .formulario input {
  color: #8b0066;
  border-radius: 50% 20%/10% 40%;
  border-radius: 15px;
  border: 2px solid #f7a0b4;
  cursor: grab;
  background-color: #fff0f6;
  box-shadow: 2px 2px 8px rgba(139, 0, 102, 0.2);
  transition: transform 0.3s ease;
  text-align: center;
  font-family: "Faculty Glyphic";
  font-size: 16px;
  display: inline-block;
  position: relative;
  top: 3rem;
  margin: 2px 2px 2px 2px;
  padding: 10px 20px;
}
.precio:hover, .formulario input:hover {
  transform: scale(1.05);
}

/*RESEÑAS*/
.reseñas {
  height: 450px;
  width: 300px;
  background-color: rgba(248, 236, 182, 0.9058823529);
  text-align: center;
  margin: 0;
  padding: 20px;
}

.nombre, .resenia, .estrellas {
  position: relative;
  top: -131px;
  left: 0;
  right: 0;
  bottom: 0;
}

.estrellas {
  top: -202px;
}

.resenia {
  font-family: "Faculty Glyphic";
  font-size: 16px;
  top: -233px;
}

.resenias-general {
  display: flex;
  justify-content: flex-start;
}

.foto-bautista, .foto-gustavo, .foto-rebeca {
  position: relative;
  top: -38px;
  left: 0;
  right: 0;
  bottom: 39px;
}

.foto-rebeca {
  bottom: 34px;
}

.foto-gustavo {
  bottom: 45px;
}

/*CONTACTO*/
.redes, .formulario {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-family: “Faculty Glyphic”;
  position: relative;
  top: 5rem;
  left: 7rem;
  right: 0rem;
  bottom: 0rem;
}

.wig {
  position: relative;
  top: 4rem;
  left: 0.5rem;
  right: 0;
  bottom: 0;
}

h2 {
  position: relative;
  top: 0;
  left: 99px;
  right: 0;
  bottom: 61px;
  font-family: "Faculty Glyphic";
  font-size: 20px;
}

.formulario {
  max-width: 12rem;
  position: relative;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  font-family: "Faculty Glyphic";
  font-size: 16px;
}
.formulario input {
  top: -2rem;
  left: 5rem;
  right: 0;
  bottom: 0;
}

.boton-enviar {
  top: -1.5rem;
  left: 126px;
  right: 0;
  bottom: 0;
}

.h3-contactos {
  position: relative;
  top: -21rem;
  left: 42rem;
  right: 0;
  bottom: 0;
}

.form-right {
  display: flex;
  justify-content: end;
  position: relative;
  top: -21rem;
  left: -27rem;
  right: 0rem;
  bottom: 0rem;
  gap: 2rem;
}

.section-contacto {
  height: 40rem;
}

/*CARRITO*/
#carrito, .compra {
  font-family: "Faculty Glyphic";
  font-size: 20px;
  height: auto;
}

.div-imagen-producto-carrito {
  max-height: 10rem;
  display: block;
  margin-left: 7rem;
  padding-top: 2rem;
}

.nombre-carrito {
  font-family: "Faculty Glyphic";
  font-size: 24px;
  position: relative;
  top: -5rem;
  left: 19rem;
  right: 0;
  bottom: 0;
}

.precio-carrito {
  top: -8.5rem;
  left: 34rem;
  right: 0;
  bottom: 0;
}
.precio-carrito:hover {
  transform: scale(1.05);
}

.input-cantidad-carrito {
  display: block;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: -4px;
  top: -11.98rem;
  left: 45.5rem;
  right: 0;
  bottom: 0;
  height: 0.9rem;
  width: 70px;
}
.input-cantidad-carrito:hover {
  transform: scale(1.05);
}

.boton-eliminar {
  top: -14.5rem;
  left: 58rem;
  right: 0;
  bottom: 0;
}
.boton-eliminar:hover {
  transform: scale(1.05);
}

.boton-comprar {
  top: -110px;
  left: 36rem;
  right: 0;
  bottom: 0;
}
.boton-comprar:hover {
  transform: scale(1.05);
}

#wpp {
  top: 514px;
  left: 1271px;
  right: 0;
  bottom: 0;
  width: 50px;
  position: fixed;
  z-index: 9999;
}

.logo {
  position: absolute;
  top: 4px;
  left: 13px;
  right: 0;
  bottom: 0;
  width: 200px;
}

/*MEDIA QUERIES*/
@media (max-width: 578px) {
  /*INDEX*/
  header {
    line-height: 38px;
  }
  #marca {
    font-size: 2.5rem;
    position: relative;
    top: auto;
    left: 14rem;
    right: 0;
    bottom: 0;
  }
  .logo {
    display: none;
  }
  .menu-index {
    position: relative;
    top: 35px;
    left: -160px;
    right: 0;
    bottom: 0;
    margin: 30px;
    padding: 0;
    font-size: 14px;
    gap: 5px;
    display: grid;
    grid-template-rows: 1fr;
  }
  .boton-menu {
    grid-row: 1/2;
  }
  .section-1-index {
    display: none;
  }
  .section-nosotras {
    display: none;
  }
  .footer-1 {
    display: none;
  }
  .div-footer {
    top: 0.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 3px;
    gap: 1rem;
    font-size: 11px;
  }
  h4 {
    display: none;
  }
  h3 {
    font-size: 15px;
  }
  .productos-index img {
    width: 7rem;
  }
  .productos-index {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  .articulo-productos-f1 {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-left: 1rem;
  }
  .articulo-productos-f2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  /*PRODUCTOS*/
  .inicio {
    position: relative;
    top: -38px;
    left: 4px;
    right: 0;
    bottom: 0;
  }
  .menu-responsive {
    position: relative;
    top: 31px;
    left: 37px;
    right: 0;
    bottom: 0;
  }
  .menu-responsive-reseñas {
    position: relative;
    top: 31px;
    left: 50px;
    right: 0;
    bottom: 0;
  }
  .articulo-productos-f3, .articulo-productos-f4, .articulo-productos-f5, .articulo-productos-f6 {
    display: none;
  }
  .productos-productos {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .articulo-productos-f2-p {
    grid-column: 2/3;
    grid-row: 1/1;
  }
  /*RESEÑAS*/
  .reseña-not {
    display: none;
  }
  .reseñas {
    background-color: #ffeddf;
  }
  .resenias-general {
    display: block;
    justify-items: center;
    align-items: center;
    max-width: 100%;
    box-sizing: border-box;
  }
  .pagina-h1-resenia-carrito, .pagina-h1-contacto, .h1-productos {
    font-family: "Faculty Glyphic";
    font-size: 2.5rem;
    position: relative;
    top: 1rem;
    left: 14rem;
    right: 0;
    bottom: 0;
  }
  /*CONTACTO*/
  .redes, .formulario {
    justify-content: center;
  }
  /*CARRITO*/
  #carrito, .compra {
    position: relative;
    top: 1rem;
    left: 7rem;
    right: 0;
    bottom: 0;
    font-size: 2.5rem;
  }
  #carrito img, .compra img {
    width: 5.5rem;
  }
  .div-imagen-producto-carrito {
    margin-left: -4rem;
  }
  .nombre-carrito {
    top: -10rem;
    left: 8rem;
    right: 0;
    bottom: 0;
    font-size: 1rem;
  }
  .precio-carrito {
    top: -10.5rem;
    left: 7rem;
    right: 0rem;
    bottom: 0rem;
    font-size: 0.7rem;
  }
  .input-cantidad-carrito {
    height: 1.3rem;
    width: 2rem;
    top: -14.3rem;
    left: 14.5rem;
    right: 0;
    bottom: 0;
    font-size: 0.7rem;
  }
  .boton-eliminar {
    top: -13.5rem;
    left: 10rem;
    right: 0;
    bottom: 0;
    font-size: 0.7rem;
  }
  .boton-comprar {
    top: -11rem;
    left: 5.5rem;
    right: 0;
    bottom: 7rem;
    font-size: 0.7rem;
  }
  .form-right {
    top: -1rem;
    left: -10rem;
    right: 0;
    bottom: 0;
  }
  .menu-responsive-carrito {
    position: relative;
    top: 2rem;
    left: 3.5rem;
    right: 0;
    bottom: 0;
    height: 10rem;
  }
  .h1-productos {
    font-family: "Faculty Glyphic";
    font-size: 2.5rem;
    position: relative;
    top: 1rem;
    left: 15rem;
    right: 0;
    bottom: 0;
  }
  .red-social {
    display: none;
  }
  .h3-contactos {
    top: 0;
    left: 6rem;
    right: 0;
    bottom: 0;
  }
  body {
    overflow-x: hidden;
    box-sizing: border-box;
    max-width: 100%;
  }
}
body {
  overflow-x: hidden;
}

/*# sourceMappingURL=estilo.css.map */
