@font-face {
  font-family: "serenity";
  src: url(/fonts/Simple-Serenity-Serif.ttf);
  font-weight: bold;
  font-style: bold;
}

.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  padding: 0;
  margin: 0;
  background-color: #ffeddf;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  background: linear-gradient(to left, #ffa9f9, #fff7ad);
  background-repeat: no-repeat;
  background-attachment: fixed;
  line-height: 145px;
}

/*INDEX INICIO*/

#marca {
  text-align: center;
  font-family: "serenity";
  font-size: 5.5rem;
  padding: 30px;
  position: absolute;
  top: 17px;
  display: block;
  justify-content: center;
}

#paginas-h1{
  display: block;
  text-align: center;
  justify-content: center;
  font-family: "serenity";
  font-size: 5.5rem;
  padding: 30px; 
  position: absolute;
  top: -60px;
  left: 391px;
  max-height: 30rem;
}

#pagina-h1-resenia-carrito{
  display: block;
  text-align: center;
  justify-content: center;
  font-family: "serenity";
  font-size: 5.5rem;
  padding: 30px; 
  position: absolute;
  top: -60px;
  left: 485px;
}

#pagina-h1-contacto{
  display: block;
  text-align: center;
  justify-content: center;
  font-family: "serenity";
  font-size: 5.5rem;
  padding: 30px; 
  position: absolute;
  top: -60px;
  left: 423px;
}


.item-1 {
  position: absolute;
  top: 16px;
  right: 80px;
}

.item-2 {
  position: absolute;
  top: 16px;
  right: 30px;
}

.menu-index {
  font-family: “Faculty Glyphic”;
  font-size: 25px;
  color: black;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  position: relative;
  top: 77px;
  right: 0px;
  gap: 25px;
  /* position: fixed; para que aparezca siempre en todas las páginas igual|| se mueve con la pág */
}

.boton-menu{
  list-style: none;
}

.boton-menu :hover{
  background-color:black ;
  color: #ffeddf;
  border-radius: 0.5rem;
}

.link {
  text-decoration: none;
  color: black;
}

#paginas {
  font-family: “Faculty Glyphic” , sans-serif;
  margin-top: 30px;
  font-size: 80px;
  color: #8b61c2;
  text-align: center;
  padding: 30px;
  position: absolute;
  top: -33px;
  left: 35%;
}


h5 {
  font-family: “Faculty Glyphic”;
  font-size: 66px;
  color: #8b61c2;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.productos-index {
  display: flex;
  margin-block: 20px;
  margin: 30px;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.section-nosotras{
  max-height: 525px;
}

h4 {
  font-family: “Faculty Glyphic”;
  font-size: 66px;
  color: #8b61c2;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

h3 {
  font-family: “Faculty Glyphic”;
  font-size: 30px;
  color: black;
  margin: 30px;
  padding: 0px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.texto {
  animation: fadeIn 2s ease-in;
  max-width: 715px;
  margin: 40px auto;
  padding: 20px;
  background: linear-gradient(135deg, #ffe6f0, #f9f0ff);
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  animation: fadeSlideIn 2s ease forwards;
  opacity: 0;
  transform: translateY(30px);
  font-family: 'Georgia', serif;
  color: #5a2a6c;
  font-size: 21px;
  line-height: 1.6;
  text-align: center;
  position: relative;
  top: -24rem;
  right: 14rem;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.texto-dueñas{
  animation: fadeIn 2s ease-in;
  max-width: 715px;
  margin: 40px auto;
  padding: 20px;
  background: linear-gradient(135deg, #ffe6f0, #f9f0ff);
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  animation: fadeSlideIn 2s ease forwards;
  opacity: 0;
  transform: translateY(30px);
  font-family: 'Georgia', serif;
  color: #5a2a6c;
  font-size: 21px;
  line-height: 1.6;
  text-align: center;
  width: 46rem;
  position: relative;
  left: 13rem;
  bottom: -1rem;

}

.div-video {
  display: flex;
  justify-content: center;
  position: relative;
  left: 24rem;
  bottom: -3rem;
}

.video{
  border-radius: 1rem;
  border-style: hidden;
}

.section-1-index{
  max-height: 34rem;
}

/*INDEX FINAL*/

/*FOOTER INICIO*/
footer {
  background-color: #8b0639;
  color: white;
  font-family: “Faculty Glyphic”;
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 15px;
  /* max-height: 200px; */
}

.div-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  gap: 3rem;
  top: 0.5rem;
}

.botones-footer:hover{
  background-color: black;
  border-radius: 0.5rem;
  cursor: grab;
}

.link-footer {
  color: white;
  text-decoration: none;
  gap: 1rem;
}

/*FOOTER FINAL*/

button {
  color: rgb(0, 0, 0);
  font-family: “Faculty Glyphic”;
  background-color: #f59db1;
  width: 6rem;
  height: 3rem;
}

button:hover{
  background-color: black;
  color:  #f59db1;
}

/*IMÁGENES DE INDEX*/
.sombra-imagenes{
  border-radius: 1rem;
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.4);
}

.boton-ver-mas{
  position: relative;
  top: -9rem;
  border-radius: 50% 20% / 10% 40%;
  cursor: grab;
}

.dueñas {
  display: flex;
  justify-content: start;
  width: 269px;
  margin-left: 55px ;
  position: relative;
  bottom: 176px;
  border-radius: 2rem;
}
/*IMÁGENES FINAL*/

/*PRODUCTOS INCIO*/

.boton-productos{
  position: relative;
  top: -1.1rem;
  border-radius: 50% 20% / 10% 40%;
  cursor: grab;
  /**/
}

.sombra-imagenes-productos{
  display: flex;
  border-radius: 1rem;
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.4);
  gap: 3rem;
}

.productos-productos{
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-block: 20px;
  margin: 30px;
  gap: 3rem;
  max-height: 10rem;
}

.section-pag-roductos{
  margin-top: 4rem;
  margin-bottom: 23rem;
}

.agregar-carrito{
  position: relative;
  bottom: -2rem;
}

.input-cantidad{
  margin: 2rem;
  width: 70px;
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid #f7a0b4;
  border-radius: 12px;
  text-align: center;
  background-color: #fff0f6;
  color: #8b0066;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 8px rgba(139, 0, 102, 0.2);
  display: block; /* Asegura salto de línea */
  margin-top: 15px;
  margin-bottom: -4px;
}

.input-cantidad:hover {
  transform: scale(1.05);
}

.precio{
  font-family: "Faculty Glyphic", serif;
  font-size: 16px;
  color: #8b0066;
  background-color: #fff0f6;
  padding: 10px 20px;
  border-radius: 15px;
  border: 2px solid #f7a0b4;
  display: inline-block;
  box-shadow: 2px 2px 8px rgba(139, 0, 102, 0.2);
  transition: transform 0.3s ease;
  text-align: center;
  margin: 2px 2px 2px 2px;
}
  
.precio:hover {
    transform: scale(1.05);
}

/*PRODUCTOS FINAL*/


/*RESEÑAS INICIO*/
#reseñas {
  width: 300px;
  height: 450px;
  background-color: #f8ecb6e7;
  text-align: center;
  padding: 20px;
}

#nombre {
  position: relative;
  top: -131px;
}

.estrellas {
  position: relative;
  top: -202px;
}

.resenia {
  position: relative;
  top: -233px;
}

.resenias-general {
  display: flex;
  justify-content: flex-start;
}

.foto-bautista {
  position: relative;
  bottom: 39px;
}

.foto-rebeca {
  position: relative;
  bottom: 34px;
}

.foto-gustavo {
  position: relative;
  bottom: 45px;
}
/*RESEÑAS FINAL*/


/*CONTACTOS INICIO*/
.redes {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-family: “Faculty Glyphic”;
}

h2 {
  position: relative;
  left: 99px;
  bottom: 61px;
  font-size: 20px;
  font-family: “Faculty Glyphic”;
}

.formulario {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  font-family: “Faculty Glyphic”;
  justify-content: right;
}

/*CONTACTOAS FINAL*/

/*CARRITO INICIO*/
#carrito .compra {
  font-family: “Faculty Glyphic”;
  font-size: 20px;
}

.div-imagen-producto-carrito{
  max-height: 10rem;
}


.div-imagen-producto-carrito{
  display: block;
  margin-left: 7rem;
  padding-top: 2rem;
}

.imagen-producto-carrito{
  border-radius: 1rem;
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.4);
}

.nombre-carrito {
  font-family: "Faculty Glyphic", serif;
  font-size: 24px;
  position: relative;
  top: -5rem;
  left: 19rem;
}
.precio-carrito {
  font-family: "Faculty Glyphic", serif;
  font-size: 16px;
  color: #8b0066;
  background-color: #fff0f6;
  padding: 10px 20px;
  border-radius: 15px;
  border: 2px solid #f7a0b4;
  display: inline-block;
  box-shadow: 2px 2px 8px rgba(139, 0, 102, 0.2);
  transition: transform 0.3s ease;
  text-align: center;
  margin: 2px 2px 2px 2px;
  position: relative;
  top: -8.5rem;
  left: 34rem;
}
  
.precio-carrito:hover {
  transform: scale(1.05);
}

.input-cantidad-carrito {
  margin: 2rem;
  width: 70px;
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid #f7a0b4;
  border-radius: 12px;
  text-align: center;
  background-color: #fff0f6;
  color: #8b0066;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 8px rgba(139, 0, 102, 0.2);
  display: block; /* Asegura salto de línea */
  margin-top: 15px;
  margin-bottom: -4px;
  position: relative;
  top: -11.98rem;
  left: 44rem;
}

.input-cantidad.carrito:hover {
  transform: scale(1.05);
}

.boton-eliminar {
  font-family: "Faculty Glyphic", serif;
  font-size: 16px;
  color: #8b0066;
  background-color: #fff0f6;
  padding: 10px 20px;
  border-radius: 15px;
  border: 2px solid #f7a0b4;
  display: inline-block;
  box-shadow: 2px 2px 8px rgba(139, 0, 102, 0.2);
  transition: transform 0.3s ease;
  text-align: center;
  margin: 2px 2px 2px 2px;
  cursor: grab;
  position: relative;
  top: -14.5rem;
  left: 58rem;
}

.boton-eliminar:hover{
  transform: scale(1.05);
}


.boton-comprar{
  font-family: "Faculty Glyphic", serif;
  font-size: 16px;
  color: #8b0066;
  background-color: #fff0f6;
  padding: 10px 20px;
  border-radius: 15px;
  border: 2px solid #f7a0b4;
  display: inline-block;
  box-shadow: 2px 2px 8px rgba(139, 0, 102, 0.2);
  transition: transform 0.3s ease;
  text-align: center;
  margin: 2px 2px 2px 2px;
  position: relative;
  left: 36rem;
  bottom: 1rem;
}

.boton-comprar:hover{
  transform: scale(1.05);
}

/*CARRITO FINAL*/

/*GENERAL*/
#wpp {
  position: static;
  bottom: 34px;
  right: 40px;
  width: 50px;
  position: fixed;
  z-index: 9999; /*para que esté por encima de todo*/
}

#logo {
  position: absolute;
  top: 4px;
  left: 13px;
  width: 200px;
}

/*MEDIA QUERIES*/
@media (max-width: 768px) {
  header {
    flex-direction: column;
    line-height: normal;
    height: 10rem;
  }

  #marca {
    font-size: 4.5rem;
    padding: 1rem;
    position: relative;
    top: -119px;
    left: 0.5rem;
  }

  #logo {
    width: 8rem;
    position: static;
    margin-top: 87px;
  }

  .menu-index {
    align-items: center;
    font-size: 18px;
    margin: 10px 0;
    gap: 10px;
    justify-content: center;
    position: relative;
    top: -9.5rem;
  }

  /*HASTA ACÁ YA ESTÁ*/

  /*PAGINA CARRITO INICIO*/

  .producto-carrito {
    flex-direction: column; /* Los elementos se apilan verticalmente */
    align-items: flex-start; /* Alineación a la izquierda */
    gap: 0.5rem;
  }

  .div-imagen-producto-carrito {
    align-self: center; /* Centra la imagen en móviles */
  }

  .imagen-producto-carrito {
    width: 120px; /* Ajusta el tamaño de la imagen en móviles */
  }

  .input-cantidad {
    width: 50px; /* Reduce el ancho del input en móvil */
  }

  .boton-productos {
    width: 100%; /* Hace que el botón ocupe todo el ancho disponible */
  }

  /*PAGINA CARRITO FIN*/
  .titulo{
    font-size: 42px;
  }

  .subtitulo{
    font-size: 26px;
  }

  .titulo .subtitulo {
    position: relative;
    font-size: 1.5rem;
    margin: 10px 0;
  }

  .div-video {
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 10px 0;
  }

  #paginas {
    font-size: 2rem;
    position: static;
    margin: 1rem auto;
  }

  .Prod {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .texto {
    font-size: 1rem;
    margin: 20px;
    display: block;
    background-color: rgb(172, 230, 145);
    border-radius: 1rem;
  }

  footer {
    flex-direction: column;
    text-align: center;
    font-size: 12px;
  }

  .div-footer {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .resenias-general {
    flex-direction: column;
    align-items: center;
  }

  #reseñas {
    width: 90%;
    height: auto;
    margin: 10px auto;
  }

  #wpp {
    width: 40px;
    right: 10px;
    bottom: 10px;
  }
}
